<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        {% if age > 15 %}
        <marquee>
            <bold><u>THIS IS FIRST JINJA_FILES WE CREATE</u></bold>
        </marquee>
        <h1> This file send_data from Backend</h1>
        Name sent from BE is<h1>{{name}}</h1>
        <h1>Age is {{age}}</h1>
        {% endif %}
    </center>
</body>
</html>